#Site-directory {
    font-size: smaller;
    a {color :blue;}
    position: absolute;
    bottom: 5px;
}

#Error-404 {
    font-size: 20px;
    a {color : aqua;}
}

#Base {
    background-color: black;
    color: white;
}

#Dependencies {
    h3 {color : coral}
    p1 {color : red}
    a {color : rgb(22, 202, 163)}
}