#Site-directory {
    font-size: 15px;
    a {color :rgb(74, 74, 243);}
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#Error-404 {
    font-size: 20px;
    a {color : aqua;}
}

#Dependencies {
    h3 {color : coral}
    p1 {color : red}
    a {color : rgb(22, 202, 163)}
}

#Site-Directory-Documentation {
    a {color:chartreuse;}
    h {color: aqua;}
}